[Unit]
Description=Gruenbeck Water Softener 

[Service]
ExecStart=/usr/bin/node /home/pi/proj/smarthome/gruenbeck2mqtt/index.js 
# Required on some systems
WorkingDirectory=/home/pi/proj/smarthome/gruenbeck2mqtt
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=1

[Install]
WantedBy=multi-user.target
